<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>Compte Bancaire</string>
		<key>name</key>
		<string>note</string>
		<key>id</key>
		<string>A4A1BF73-28F7-438C-BDB1-E528C8A8EB3F</string>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>Compte Courant</string>
				<key>name</key>
				<string>John</string>
				<key>surName</key>
				<string>Doe</string>
				<key>numAccount</key>
				<string>00045700E</string>
				<key>icon</key>
				<string>building.columns</string>
				<key>solde</key>
				<integer>1000</integer>
				<key>id</key>
				<string>0B3A2968-641F-4CBA-8C51-29F74864F86E</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Compte Courant</string>
				<key>name</key>
				<string>Martin</string>
				<key>surName</key>
				<string>Marie</string>
				<key>numAccount</key>
				<string>00045701F</string>
				<key>icon</key>
				<string>creditcard</string>
				<key>solde</key>
				<integer>1234</integer>
				<key>id</key>
				<string>DAD9E0B1-8B9A-47F4-A161-A97B50FAE06D</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>Epargne</string>
		<key>name</key>
		<string>note</string>
		<key>id</key>
		<string>E238A611-7D31-4F2C-A3A5-712123D71147</string>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>Carte Bancaire</string>
				<key>name</key>
				<string>Jean</string>
				<key>surName</key>
				<string>Doe</string>
				<key>numAccount</key>
				<string>00045700E</string>
				<key>icon</key>
				<string>building.columns</string>
				<key>solde</key>
				<integer>2000</integer>
				<key>id</key>
				<string>E892ADD9-B6A6-4AB2-B3E9-56F8593A2EAB</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Epargne</string>
				<key>name</key>
				<string>Martin1</string>
				<key>surName</key>
				<string>Marie</string>
				<key>numAccount</key>
				<string>00045701F</string>
				<key>icon</key>
				<string>building.columns</string>
				<key>solde</key>
				<integer>1234</integer>
				<key>id</key>
				<string>1BC26392-A335-4371-A89D-B7C0315EFF02</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>Carte bancaire</string>
		<key>name</key>
		<string>note</string>
		<key>id</key>
		<string>989B63AA-6F3E-4A55-B88F-507BFC9B594A</string>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>Compte Courant</string>
				<key>name</key>
				<string>Jean1</string>
				<key>surName</key>
				<string>Doe</string>
				<key>numAccount</key>
				<string>00045700E</string>
				<key>icon</key>
				<string>building.columns</string>
				<key>solde</key>
				<integer>2000</integer>
				<key>id</key>
				<string>06815199-298C-47F0-9812-A8DF1AB82630</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Epargne</string>
				<key>name</key>
				<string>Martin</string>
				<key>surName</key>
				<string>Marie</string>
				<key>numAccount</key>
				<string>00045701F</string>
				<key>icon</key>
				<string>creditcard</string>
				<key>solde</key>
				<integer>1000</integer>
				<key>id</key>
				<string>0C4A3AD7-899E-43FB-9A9A-A845BA2056FD</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
