<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>30</string>
					<key>EndingLineNumber</key>
					<string>264</string>
					<key>StartingColumnNumber</key>
					<string>9</string>
					<key>StartingLineNumber</key>
					<string>264</string>
					<key>Timestamp</key>
					<string>791282900.099273</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>PegaseUIData_v2/Group/OperationDialog/OperationDialog2.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>resetListTransactions</string>
				<key>leading</key>
				<string>    }
        
    func </string>
				<key>trailing</key>
				<string>() {
        
        let account = CurrentAccountManager.shared.getAccount()
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
